@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

header, section, footer {
	padding: 1em;

}

header {
	background-image: url(../img/background.jpg);
	background-size: cover;
	color: #FFF;
}

header a:link, header a:visited {
	text-decoration: none;
	padding: 0.5em 1em 0.5em 1em;
	color: #CCC;
}

header a:hover, header a:focus {
	text-decoration: underline;
	color: #FFF;
	background-color: #CC0000;
}

#about img {
	max-height: 400px;
	float: left;
	margin-right: 1em;	
	opacity: 0.7;


}

#about img:hover {
	opacity: 1;
}

#education {
	clear: both;
}

#about {
	background-color: #F4D64A;
}

#projects {
	background-color: #F4D64A;
}

#education, #contact {
	background-color: #F3B133;
}

footer {
	background-color: #AC2109;
}